.ingreso-mercaderia, .ingreso-listado {
  height: calc(100vh - 100px) !important;
  margin: 0 20px !important;
  overflow: auto;
}

.ingreso-mercaderia-contenedor {
  padding: 20px 20px 50px 20px;
}

.ingreso-mercaderia table {
  table-layout: fixed;
}

.ingreso-mercaderia .tabla-columna-quitar {
  width: 45px;
}

.ingreso-mercaderia table thead th {
  padding: 0.75rem;
  background-color: transparent;
  border-top: 0;
  border: 1px solid #efefef;
  border-right: 0;
  border-left: 0;
  vertical-align: middle;
}

.ingreso-mercaderia input {
  width: 100px;
}

.ingreso-mercaderia table thead tr th:first-child {
  border-top-left-radius: 6px;
}

.ingreso-mercaderia table thead tr th:last-child {
  border-top-right-radius: 6px;
}

.ingreso-mercaderia table tr {
  border: 1px solid #efefef;
  border-right: 0;
  border-left: 0;
  vertical-align: middle;
}

.ingreso-mercaderia table tfoot {
  font-weight: bold;
}

.ingreso-mercaderia .boton-guardar {
  bottom: -40px;
  position: absolute;
  right: 15px;
}

.ingreso-anulado {
  color: #6c757d!important;
  font-size: 13px;
}

.ingreso-visualizar {
  max-width: 1200px;
}

.ingreso-visualizar ul {
  list-style: none;
  padding-left: 0;
}

.ingreso-visualizar li label {
  width: 70px !important;
  font-weight: bold;
}