.seccion-mesas,
.mesas-listado,
.mesa-turno {
  overflow: auto;
  margin: 0 20px !important;
  height: calc(100vh - 100px) !important;
}

.mesas-listado {
  height: calc(100vh - 100px) !important;
}

.seccion-mesas .boton-modal-responsive {
  border-radius: 6px;
  border: 1px solid grey;
}

.seccion-mesas .boton-modal {
  border: none;
  font-weight: bold;
}

.seccion-mesas .boton-transparente {
  width: 50px;
  text-align: right;
}

.seccion-mesas input {
  max-width: 250px;
}

.mesas-listado .mesas-listado-contenedor {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 20px;
  position: relative;
}

.mesas-listado .mesas-listado-contenedor .half-circle-spinner {
  position: absolute;
}

.mesas-listado .mesa-tarjeta {
  min-height: 170px;
  max-height: 300px;
  position: relative;
  width: 250px;
  display: flex;
  -moz-flex-direction: row;
  flex-direction: column;
  -moz-align-items: stretch;
  align-items: stretch;
  place-content: stretch flex-start;
  background-color: #e1ded9;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 6px;
}

.mesas-listado .mesa-tarjeta header {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.mesas-listado .mesa-tarjeta img {
  margin-top: 10px;
}

.mesas-listado .mesa-tarjeta .badge {
  position: absolute;
  left: 10px;
  top: 13px;
}

.mesas-listado .boton-icono-quitar {
  position: absolute;
  right: 15px;
  background-color: #dc3545;
  padding: 2px 6px 1px 6px;
}

.mesas-listado .mesa-tarjeta h5 {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

.mesas-listado .mesa-tarjeta footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.mesas-listado .mesa-tarjeta footer button {
  font-size: 14px;
  flex-grow: 1;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  width: 50%;
  border: none;
  height: 30px;
}

.mesas-listado .mesa-tarjeta footer button:first-child {
  border-top-left-radius: 3px;
}

.mesas-listado .mesa-tarjeta footer button:last-child {
  border-top-right-radius: 3px;
}

.seccion-turno {
  min-height: 400px;
  padding-bottom: 55px !important;
}

.seccion-turno .venta-productos {
  height: calc(100vh - 420px) !important;
  min-height: 200px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  margin-top: 20px;
}

.seccion-turno .producto {
  font-size: 13px;
  max-height: 150px;
  max-width: 95%;
  position: relative;
}

.seccion-turno .producto .producto-derecha {
  padding-right: 15px;
}

.seccion-turno .producto img {
  width: 65px;
  height: 65px;
}

.seccion-turno .producto-derecha-carrito {
  margin-bottom: 0;
}

.seccion-turno .boton-modal-responsive {
  border-radius: 6px;
  border: 1px solid grey;
  font-weight: bold;
  padding: 2px 15px;
}

.seccion-turno .contenedor-botones {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.seccion-turno .contenedor-botones button {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  min-width: 120px;
}

.mesa-turno {
  margin: 0 10px !important;
}

.mesa-turno .col-md-12 {
  padding: 0;
}

.mesa-turno .producto {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 15px;
}

.mesa-turno .producto .boton-icono-quitar {
  position: absolute;
  height: 23px;
  top: 5px;
  right: 5px;
}

.mesa-turno .producto .boton-icono-quitar {
  height: 22px;
}

.seccion-turno .half-circle-spinner {
  margin-top: 20px;
}

@media (min-width: 350px) {
  .seccion-turno .contenedor-botones {
    grid-template-columns: 50% 50%;
  }
}

/* 
X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/

@media (min-width: 570px) {
  .seccion-turno .contenedor-ordenes .venta-productos {
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-column-gap: 10px;
    padding: 0 20px;
  }

  .seccion-turno .contenedor-botones {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .seccion-turno .producto .producto-derecha {
    padding-right: 0;
  }
}

/* 
Small devices (landscape phones, 576px and up)
*/
@media (min-width: 720px) {
  .mesas-listado .mesas-listado-contenedor {
    grid-template-columns: 50% 50%;
  }
}

/* 
Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
}

/* 
Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
  .mesas-listado .mesas-listado-contenedor {
    grid-template-columns: 33% 33% 33%;
  }

  .seccion-turno .contenedor-ordenes .venta-productos {
    grid-template-columns: 33% 33% 33%;
  }
}

/*
X-Large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
  .mesas-listado .mesas-listado-contenedor {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .seccion-turno .contenedor-ordenes .venta-productos {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 180px;
  }
}

/*
XX-Large devices (larger desktops, 1400px and up)
*/
@media (min-width: 1400px) {
}
