.seccion-mesas, .mesas-listado {
  height: calc(100vh - 100px) !important;
  margin: 0 20px !important;
  overflow: auto;
}

.seccion-mesas .boton-modal-responsive {
    border-radius: 6px;
    border: 1px solid grey;
}

.seccion-mesas .boton-modal {
    border: none;
    font-weight: bold;
}

.seccion-mesas ul {
  padding: 0;
  list-style: none;
}

.seccion-mesas li {
  background-color: white;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 600;
}

.seccion-mesas li:hover {
  background-color: #007bff!important;
  color: white;
}

.seccion-mesas .boton-transparente {
  width: 50px;
  text-align: right;
}

.mesas-listado .mesas-listado-contenedor {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 20px;
}

.mesas-listado .mesa-tarjeta {
  min-height: 200px;
  position: relative;
  width: 250px;
  display: flex;
  -moz-flex-direction: row;
  flex-direction: column;
  -moz-align-items: stretch;
  align-items: stretch;
  place-content: stretch flex-start;
  background-color: #e1ded9;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 6px;
}

.mesas-listado .mesa-tarjeta header {
  font-size: 14px;
  font-weight: bold;
}

.mesas-listado .mesa-tarjeta .icono-mesa {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 20px;
  height: auto;
}

.mesas-listado .mesa-tarjeta h5 {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

.mesas-listado .mesa-tarjeta ol {
  list-style: none;
  padding-left: 10px;
}

.mesas-listado .mesa-tarjeta ol img {
  width: 15px;
  margin-right: 10px;
}

.mesas-listado .mesa-tarjeta footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.mesas-listado .mesa-tarjeta footer button {
  font-size: 14px;
  flex-grow: 1;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  width: 50%;
}