.reemplazo-mercaderia-alta, .reemplazo-mercaderia-listado {
  height: calc(100vh - 100px) !important;
  margin: 0 20px !important;
  overflow: auto;
}

.reemplazo-mercaderia-contenedor {
  padding: 20px 20px 50px 20px;
}

.reemplazo-mercaderia-contenedor .reemplazo-mercaderia-articulos ul {
  list-style: none;
  padding: 0;
  max-height: 500px;
  overflow: auto;
}

.reemplazo-mercaderia-contenedor .reemplazo-mercaderia-articulos ul li {
  margin: 10px 0;
  padding: 10px 5px;
  border: 1px solid rgb(128 128 128 / 30%);
  border-radius: 6px;
}

.reemplazo-mercaderia-contenedor .reemplazo-mercaderia-articulos ul li:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

.reemplazo-mercaderia-alta table {
  table-layout: fixed;
}

.reemplazo-mercaderia-alta .tabla-columna-quitar {
  width: 45px;
}

.reemplazo-mercaderia-alta table thead th {
  padding: 0.75rem;
  background-color: transparent;
  border-top: 0;
  color: #fff;
  border: 1px solid #efefef;
  border-right: 0;
  border-left: 0;
  vertical-align: middle;
}

.reemplazo-mercaderia-alta table thead {
  background: #879799;
  color: #fff;
}

.reemplazo-mercaderia-alta table thead tr th:first-child {
  border-top-left-radius: 6px;
}

.reemplazo-mercaderia-alta table thead tr th:last-child {
  border-top-right-radius: 6px;
}

.reemplazo-mercaderia-alta table tr {
  border: 1px solid #efefef;
  border-right: 0;
  border-left: 0;
  vertical-align: middle;
}

.reemplazo-mercaderia-alta table tr input {
  width: 100px;
}

.reemplazo-mercaderia-alta table tfoot {
  font-weight: bold;
}

.reemplazo-visualizar {
  max-width: 1200px;
}

.reemplazo-visualizar ul {
  list-style: none;
  padding-left: 0;
}

.reemplazo-visualizar li label {
  width: 70px !important;
  font-weight: bold;
}