.titulo-generico {
  font-size: 16px;
}

.titulo-generico img {
  width: 15px !important;
}

/* 
Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {
  .titulo-generico {
    font-size: 20px;
  }

  .titulo-generico img {
    width: 20px !important;
  }
}

/* 
Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
  .titulo-generico {
    font-size: 22px;
  }
}