.login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 80px);
}

.login-contenedor .tarjeta-body {
    width: 310px;
}

.login-contenedor .tarjeta-body .login-captcha, .login-contenedor .tarjeta-body iframe {
    width: 100%;
}

@media (min-width: 500px) {
    .login-contenedor .tarjeta-body {
        width: 400px;
    }
}