.inicio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "tarjeta-menu tarjeta-menu";
}

.inicio .tarjeta-menu .tarjeta img {
  max-width: 300px !important;
  border-radius: 6px;
}

.contenedor-contrasenia {
  position: relative;
}

.contenedor-contrasenia .ver-password {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 9px;
}

.texto-chico {
  color: #6c757d !important;
  font-size: 80%;
  font-weight: 400;
}

.boton-icono-quitar {
  border: none;
  background: #ccc;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  font-size: 13px;
}

.boton-icono-quitar:hover {
  background: #fa5858;
}

.spinner {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.fila-operaciones {
  margin-top: 15px;
  display: flex;
  justify-content: start;
}

.fila-operaciones .btn:hover {
  background-color: rgba(128, 128, 128, 0.13) !important;
}

.lista-seleccionable ul {
  list-style: none;
  padding: 0;
  max-height: 500px;
  overflow: auto;
}

.lista-seleccionable ul li {
  margin: 10px 0;
  padding: 10px 5px;
  border: 1px solid rgb(128 128 128 / 30%);
  border-radius: 6px;
}

.lista-seleccionable ul li:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}