.pedido-visualizar {
  overflow: auto;
  margin: 0 20px !important;
  height: calc(100vh - 100px) !important;
}

.pedido-visualizar ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

.pedido-visualizar li label {
  width: 70px !important;
  font-weight: bold;
}

.pedido-listado-contenedor,
.pedido-listado-contenedor .tabla-responsive {
  max-height: 900px !important;
  overflow-y: auto;
}

.producto-listado .listado {
  border: none !important;
}

.producto-listado {
  margin: 0 10px !important;
}

.pedido-listar .operacion {
  background: transparent;
  text-decoration: none;
}

.producto-listado .pedidos-responsive {
  display: none;
  max-height: 40%;
}

.pedidos-responsive .pedido-tarjeta {
  position: relative;
  width: 250px;
  display: flex;
  -moz-flex-direction: row;
  flex-direction: column;
  -moz-align-items: stretch;
  align-items: stretch;
  place-content: stretch flex-start;
  background-color: #e1ded9;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 6px;
}

.pedidos-responsive .pedido-tarjeta header {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.pedidos-responsive .pedido-tarjeta img {
  margin-top: 10px;
}

.pedidos-responsive .pedido-tarjeta .badge {
  position: absolute;
  left: 10px;
  top: 13px;
}

.pedidos-responsive .pedido-tarjeta h5 {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

.pedidos-responsive .pedido-tarjeta footer .fila-operaciones {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.pedidos-responsive .pedido-tarjeta footer .operacion-responsive {
  font-size: 14px;
  flex-grow: 1;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pedidos-responsive .pedido-tarjeta footer .operacion-responsive svg {
  display: none;
}

.pedidos-responsive .pedido-tarjeta footer button {
  font-size: 14px;
  flex-grow: 1;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  width: 50%;
  border: none;
  height: 30px;
}

.pedidos-responsive .pedido-tarjeta footer button:first-child {
  border-top-left-radius: 3px;
}

.pedidos-responsive .pedido-tarjeta footer button:last-child {
  border-top-right-radius: 3px;
}

.pedido-visualizar .pedido-responsive {
  display: none;
}

@media (max-width: 875px) {
  .producto-listado .table {
    display: none;
  }

  .producto-listado .filter-by .filtro-numero,
  .producto-listado .filter-by .filtro-estado {
    display: none;
  }

  .producto-listado .titulo-generico {
    padding-bottom: 5px;
  }

  .producto-listado .form-filtros {
    padding: 0;
  }

  .producto-listado .contenedor-filtros,
  .contenedor-filtros {
    font-size: 13px;
  }

  .producto-listado .contenedor-filtros input,
  .producto-listado .contenedor-filtros select {
    height: 35px;
  }

  .producto-listado .listado {
    overflow: auto;
    margin: 0 5% !important;
    height: calc(100vh - 100px) !important;
    width: 90%;
    position: relative;
  }

  .producto-listado .contenedor-filtros {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .producto-listado .filter-by {
    flex-direction: column;
  }

  .paginacion-contenedor {
    margin-top: 10px;
  }

  .producto-listado {
    margin: 0;
  }

  .pedido-listado-contenedor {
    min-height: 500px;
  }

  .producto-listado .pedidos-responsive {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
    grid-row-gap: 20px;
    row-gap: 20px;
    position: relative;
    overflow-y: auto;
  }

  .producto-listado .pedidos-responsive-item {
    width: 250px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    margin: 10px 0;
  }

  .producto-listado .pedidos-responsive ul {
    list-style: none;
    padding: 0;
  }
}

@media (max-height: 570px) {
  .producto-listado .pedidos-responsive {
    max-height: 270px;
  }

  .pedido-visualizar table {
    display: none;
  }

  .pedido-visualizar .pedido-responsive {
    display: block;
  }

  .pedido-visualizar li {
    background-color: #dbd5d5 !important;
  }

  .pedido-visualizar .item-total {
    display: none;
  }

  .pedido-visualizar {
    margin: 0 5px !important;
  }

  .pedido-visualizar .border-black {
    border-bottom: 1px solid black;
  }
}

@media (max-width: 570px) {
  .pedidos-responsive .pedido-tarjeta {
    width: 220px !important;
    min-height: 140px;
  }

  .pedidos-responsive .pedido-tarjeta header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .pedidos-responsive .pedido-tarjeta .badge {
    position: static;
  }

  .producto-listado .tabla-listado-titulo,
  .producto-listado h4 {
    font-size: 15px;
  }

  .pedido-visualizar .tabla-listado-titulo {
    font-size: 15px;
  }

  .producto-listado .form-filtros {
    margin-bottom: 6px;
  }

  .pedidos-responsive .pedido-tarjeta header {
    margin-bottom: 5px;
  }

  .pedidos-responsive .pedido-tarjeta span {
    font-size: 14px;
  }
}