.producto-alta .tarjeta-body {
    max-width: 600px;
}

.producto-alta .form-group-codigo-barra {
    position: relative;
}

.producto-alta .boton-codigo-barra {
    position: absolute;
    right: 15px;
    top: 35px;
    width: 40px;
    background-color: transparent;
    border: none;
}

.producto-alta .boton-codigo-barra img {
    width: 25px;
    height: 25px;
}